 {% if page.lang=="bg" %}
<li><a href="{{ site.baseurl }}">НАЧАЛО</a></li>
<li><a href="{{ site.baseurl }}/services/">УСЛУГИ</a></li>
<li><a href="{{ site.baseurl }}/posts/">СТАТИИ</a></li>
<li><a href="{{ site.baseurl }}/contacts/">КОНТАКТИ</a></li>
{% endif %} {% if page.lang=="en" %}
<li><a href="{{ site.baseurl }}/index-en.html">HOME</a></li>
<li><a href="{{ site.baseurl }}/services-en/">SERVICES</a></li>
<li><a href="{{ site.baseurl }}/posts-en/">POSTS</a></li>
<li><a href="{{ site.baseurl }}/contacts-en/">CONTACTS</a></li> {% endif %}